@import url(/css/variables.css);  /* colors  */
@import url(/css/flex-grid.css);

* {
    font-size: 16px;
    box-sizing: border-box;
    position: relative;
    font-family: "montserrat", Verdana, Geneva, Tahoma, sans-serif;
}

footer {
    margin: 10rem;
}

button {
    border-radius: 0.4rem;
    border-width: 1px;
    padding:  0.4rem 1rem;
    margin: 0.6rem;
}
button:hover {
    font-weight: 600;
}

.content_wrap {
    max-width: 1600px;
    width: 80%;
    margin: 0 auto;
}

.selProduct {
    width: fit-content;
}

/* Product styling */
.products {
    margin: 1rem 0;
}
.product {
    background-color: var(--white);
    border-radius: 6px;
    max-width: 15rem;
    
    height: 100%;
    
}
.productImg {
    width: 100%;
    overflow: hidden;
    object-fit: cover;
    border-radius: 6px 6px 0 0;
}

.productName, .pricePar {
    margin: 0.5rem 1rem;
}
.regularPrice {
    text-decoration: line-through;
    font-size: 0.8rem;
    color: gray;
}
.salePrice {
    border-left: 2px solid var(--yellow)
}

.link {
    text-decoration: none;
    color: black;
}

.hidden {
    display: none;
}
/* selected movie page */



